<h2>Dealer Manager Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Total Customers: @ViewBag.TotalCustomers</h4>
    </div>
    <div class="col-md-4">
        <h4>Total Feedbacks: @ViewBag.TotalFeedbacks</h4>
    </div>
    <div class="col-md-4">
        <h4>Total Test Drives: @ViewBag.TotalTestDrives</h4>
    </div>
</div>

<hr />

<h3>Customer List</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in ViewBag.Customers as IEnumerable<ASM1.Repository.Models.Customer>)
        {
            <tr>
                <td>@c.CustomerId</td>
                <td>@c.FullName</td>
                <td>@c.Email</td>
                <td>@c.Phone</td>
            </tr>
        }
    </tbody>
</table>
